/* CSS Document */
html, body{
	background-color:black;
	height:100%;
	width:100%;
	color:#57B875;
}
.navbar-custom {
    color:#2D823E;
    background-color:transparent;
	border:none;
}

.nav.navbar-nav.navbar-right li a {
    color: #2D823E;
	background-color:transperent;
}

.nav.navbar-nav.navbar-right li a:hover{
    color: white;
}
.navbar-inverse .navbar-brand{
	color:#2D823E;
	
}



#image{
	background:url(img/prof.jpg) no-repeat fixed;
	height:100%;
	width:100%;
	-webkit-background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	position:relative;

}

#image p{
	position:absolute;
	top:100px;
	right:50px;
	font-family:"MS Serif", "New York", serif;
	font-size:48px;
	color:white;
}

#wrapper{
	margin:0;
	padding:0;
	height:100%;
	width:100%;
}
#about .row .col-md-3{
	text-align:center;
}
#education-img{
	background:url(img/education.jpg) no-repeat fixed;
	height:100%;
	width:100%;
	-webkit-background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	position:relative;
	
}
#education-img p{
	position:absolute;
	bottom:100px;
	left:50px;
	font-family:"MS Serif", "New York", serif;
	font-size:56px;
	color:black;
}
#activities-img{
	background:url(img/activities.jpg) no-repeat fixed;
	height:100%;
	width:100%;
	-webkit-background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	position:relative;
	
}
#activities-img p{
	position:absolute;
	bottom:100px;
	right:50px;
	font-family:"MS Serif", "New York", serif;
	font-size:56px;
	color:white;
}
.block{
	padding:0px;
	padding-top:100px;
	padding-bottom:100px;
	text-align:center;
}
